@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkmain: hsl(217, 54%, 11%);
    --Verydarkcard: hsl(216, 50%, 16%);
    --Verydarkline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    font-size: 18px;

    font-family: 'Outfit';
}

body {
    margin: 0;
    height: 100vh;
    background: var(--Verydarkmain);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.card {
    padding: 1em;
    width: 16rem;
    background: var(--Verydarkcard);
    border-radius: 0.5em;
}

.card__img {
   width: 100%;
   border-radius: 0.5em;
}

.card__title {
    color: var(--White);
}

.card__title:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.card__text {
    color: var(--Softblue);
}

.card__lista {
    height: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__item1 {
    color: var(--Cyan);
    display: flex;
    align-items: center;
}

.card_item1--text {
    margin: 0 0 0 0.4em;
}

.card__item2 {
    color: var(--Softblue);
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
}

.footer__avatar {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.4em;
    border-radius: 50%;
    border: 1px #fff solid;
}

.footer__text {
    margin: 0;
    color: #fff;
    font-size: 0.8em;
}

.footer__text:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.footer__span {
    color: var(--Softblue);
}